<h1>Credentials#new</h1>
<%= form_for @credential do |f| %>
<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
  (fill me in first)
</p>
<p>
  <%= f.label :response %>
  <%= f.text_area :response, disabled: true %>
</p>
<p>
  <button id='request-credential' disabled type='button'>
    Request Credential
  </button>
</p>
<% end %>

<script id="webauthn_create_options" type="text/json">
  <%= @create_options.to_json.html_safe %>
</script>