<!DOCTYPE html>
<html>
  <head>
    <title>BkWebauthnDemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% unless flash.empty? %>
      <ul id="flashes">
        <% flash.each do |cat, entry| %>
          <li class="flash <%= cat %>"><%= cat %>: <%= entry %></li>
        <% end %>
      </ul>
    <% end %>

    <%= yield %>
  </body>
</html>
